html {
    font-size: 100%;
    background-color: #fff;
    color: rgb(11, 3, 3);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}
header {
    background-color: aqua;
    color:black;
    font-size: small;
    text-transform: uppercase;
    height: 100px;
    border-bottom: 2px solid aqua;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
header h1{
    height: 100px;
    justify-items: left;;
    margin-left: 50px;
  }
header a {height: 90px;
    text-align: right;
}

header img { 
    margin-right: 50px;
    height: 60%;
}

nav{
    padding: 1rem 0 1rem 0;
}
 nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
    list-style: none;
 }
 nav ul li {
    background-color: white;
    color: #000;
    border: 1px solid white;
    padding: 1rem 2rem 1rem 2rem;
}



nav ul {
         list-style-type: none;
}
nav ul {
      background-color: white;
      color:black;
      border: 1px solid white;
      

}

nav ul li a {
       background-color: bisque;
       color: black;
       text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;      
}
nav ul li a:hover {
          background-color: bisque;
          color:white;
          font-weight: bold;

}

nav ul li {
         background-color: orange;
         color:black;
         border:1px solid orange;
         font-weight: bold;
         text-decoration: none;

        }
        nav ul li a  {
                background-color: orange;
                color: black;
                text-decoration: none;
        }
nav ul li {
        background-color: orange;
        color: black;
        text-decoration: none;
}
.wrapper {

    background-color: white;
}

#primary{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0 1rem 0 1rem;
}

#main_aticle{
    padding: 0 1rem 0 1rem;
}

figure {
    padding: 0 1rem 0 1rem;
}

figure img{
    max-width: 100%;
    border-radius: 50px;
}

figcaption {
    text-align:center;
    font-size: 0.6rem;
}
figcaption a {
    background-color: white;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    
}
#secondary {
        background-color: aqua;
        color:black;
        padding: 1rem 5rem 1rem 2rem;
}

footer {
    background-color: aqua;
    color:black;
    padding: 0.8rem 0 0 2rem;
    border-top: 2px solid aqua;
    border-bottom: 2px solid aqua;
}